.movie-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:white;
    max-width: 280px;
    width: 280px;
    margin: 15px;
    padding: 20px 10px;
}

.mat-card-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.movies-title {
    display: flex;
    max-width: 210px;
    justify-content: center;
    text-align: center;
    line-height: normal;
}

.mat-card-subtitle {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}


img {
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.mat-icon-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.mat-card-actions{
    margin-bottom: -8px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 300px) {
    .movie-view {
        width: 350px;
    }
}